<div class="Header" style = "display: inline-block; width:100%; padding: 1%;">
    <div style="float:right;">
        <a href="/Logout">Logout</a>
    </div>
    <div>
        <h3>Hi @ViewBag.LoggedUser.Name!</h3>
    </div>
</div>

<div>
    <form action="CreatePost" method="POST">
        <div class="row">
            <div>
                <textarea name="Content" placeholder= "Post something witty here..." cols="50" rows="2"></textarea>
                <input type="submit" value="Idea!" name="submit">
            </div>
        </div>
    </form>
</div>

@foreach (var idea in ViewBag.Ideas)
{
    <div class="row" style = "display: inline-block;">
        <div style = "display: inline-block">
            <h5><a href="/users/@idea.Creator.UserId">@idea.Creator.Alias</a> says:</h5>
            <div style = "border: solid black 2px; padding: 2px; width:600px;">
                <p>@idea.Content</p>
            </div>
        </div>
    </div>
    <div class="row" style = "display: inline;">
        <div style = "width: 350px;">
            <a href="/LikePost/@idea.PostId">Like</a>
            <p><a href="/bright_ideas/@idea.PostId"> @idea.Likes.Count people</a> like this.</p>
        </div>
        @if(idea.Creator.UserId == ViewBag.LoggedUser.UserId)
        {
            <div>
                <a href="/RemovePost/@idea.PostId">X</a>    
            </div>
        }
    <hr>
    </div>
}
