@{
    ViewData["Title"] = "BrightIdeas Register/Login Page";
}

<div style="display: inline-block; border: 2px solid black; width: 100%; padding:3%; padding-left: 25%;">
    <div style="padding:3%; width:100%;">
        <div class="row" style="display: inline-block; width:40%; ">
            @Html.Partial("../Shared/_Login.cshtml")
        </div>
        <div class="row" style="display: inline-block; width:40%;">
            @Html.Partial("../Shared/_Registration.cshtml")
        </div>
    </div>
</div>